
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-normal{
  font-family: "Work Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
}
header{
  background-color: #FFF4E6 ;
  max-width: 1700px;

}
.display-flex{
  display: flex;
}
.dark1{
  color: #131313;
}
.dark3{
 color: #727272;
}
.btn-primary{
  background-color: #FF900E;
  padding: 15px 20px;
  border-radius: 5px;
  color: #fff;
  border:none;
  margin-top: 20px;
  margin-bottom: 30px;
}
.navbar ,.banner-container{
  max-width: 1440px;
  margin: 0 auto;  
  
}
.banner-heading{
          font-weight: 800;
}
.banner-container{
  padding-bottom: 50px;
}
.navbar{
  justify-content: space-around;
  align-items: center;
}
.menu{
  gap: 30px;
  list-style: none;
  
}
li a{
  text-decoration: none;
}
.banner-text-container{
  width: 520px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}
.banner-img{
  width: 100%;
  
}
/* -------main part--------- */
main{
  width: 1140px;
  margin: 0 auto;
}
.our-feture-container{
  display: flex;
  margin-top: 100px;

}   
.future-img-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}
.feture-img-1{
  width: 342px;
  height: 342px;
}
.feture-img-1 img{
  width: 100%;
}
.future-text-container{
  width: 500px;
  margin-top: 190px;
  margin-left: 50px;
  line-height: 30px;
}
.future-heading{
  font-weight: 800px;
}


/* ----section 2----- */

.enjoy-container{
  display: flex;
  justify-content: space-between;
  width:100%;
  margin-top: 100px;
}
.card-container{
  width: 80%;
  margin-top: 50px;
}
.card-1{
 box-shadow: 0px 10px 10px 0px rgb(205, 196, 196);
 margin-bottom: 50px;

}
.card-before{
  width: 80%;
}
.text-card{
  width: 50%;
 
}
.img-part{
  width: 600px;
  height: 800px;
}
.img-part img{
  width:90%
  
}
.btn-prim{
  background-color: #FF900E;
  padding: 20px 40px;
  border-radius: 5px;
  color: #fff;
  border:none;
  margin-top: -70px;
  margin-left: -70px;
  
  
}
strong{
  color: #FF900E;
}

                    /* -----------mobile responsive-------- */

@media screen and (max-width: 576px) {
  .navbar {
      flex-direction: column;
      align-items: center;
  }
  .menu {
      flex-direction: column;
      gap: 10px; /* Adjust spacing between menu items */
      text-align: center; /* Center align menu items */
  }
  .banner-container {
      padding: 20px; /* Add padding around banner content */
  }
  .banner-text-container {
      width: 100%; /* Occupy full width on smaller screens */
      text-align: center;
      margin-bottom: 20px; /* Adjust margin as needed */
  }
  .banner-img {
      max-width: 100%; /* Ensure banner image scales to fit smaller screens */
  }
  .banner-img img{
   width: 100%;
  }
  .btn-primary {
      width: 100%; /* Make button full width */
      margin-top: 15px; /* Adjust spacing */
  }
}


